body {
  background-color: #222222;
}

#header {
  box-shadow: 0px 0px 4px #ffffffb9;
}

.icon-dev {
  filter: invert(29%) sepia(0%) saturate(326%) hue-rotate(214deg)
    brightness(97%) contrast(90%);
}

.icon-dev:hover {
  filter: invert(96%) sepia(29%) saturate(4221%) hue-rotate(181deg)
    brightness(106%) contrast(106%);
  transition: all 200ms ease;
}

.icon-social:hover {
  filter: brightness(0) saturate(100%) invert(96%) sepia(29%) saturate(4221%)
    hue-rotate(181deg) brightness(106%) contrast(106%);
  transition: all 200ms ease;
}

.link:hover {
  text-shadow: 0px -1px 5px #ffffff;
  transition: all 0.5s ease;
}

.link {
  padding: 0.05rem 0.2rem;
}

#link__activo {
  padding: 0.05rem 0.2rem;
  /* margin: 0.5rem; */
  background-color: #39ff39;
  border-radius: 0.5rem;
  /* text-decoration: 5px underline #39ff14; */
  transition: all 200ms ease;
}

#span-dev {
  color: gray;
}
