@mixin title__h1 {
  color: map-get($pallete, muted-color);
  font-size: 3em;
  font-weight: map-get($font-weights, sb);
  font-style: italic;
  text-align: center;
}

@mixin font__gral {
  font-family: "Roboto", sans-serif;
  color: map-get($pallete, muted-color);
  font-size: 1em;
  font-weight: map-get($font-weights, reg);
}

@mixin font-nav {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  letter-spacing: 0;
  font-weight: map-get($font-weights-nav, med);
}

@mixin font-nav-footer {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  letter-spacing: 0;
  font-weight: map-get($font-weights-nav, reg);
}
