// SHADOWS
$shadow-bottom: 0px 0px 4px #d4d4d4b9;

$text-shadow-normal: 0px 0px 5px #ffffff;

// TRANSITIONS
$transition-normal: all 200ms ease;

// COLORS
$primary: #f0f0f0;
$secondary: #d4d4d4;
$muted-color: #6b6b6b;
$btn-color-primary: #1b1b1b;

// BACKGROUNDS
$background-header-footer: #000000;
$background-body: #222222;

// BORDER RADIUS
$border-card: 1rem;

// FONTS
$font-family-base: "Poppins", sans-serif;
