.footer {
  @include font-nav-footer;
  background-color: map-get($pallete, bg-header-footer);
  color: map-get($pallete, muted);

  .h5,
  .h6 {
    @include font-nav-footer;
    color: map-get($pallete, secondary);
    font-weight: lighter;
  }

  .footer__text {
    color: map-get($pallete, muted);
    &:hover {
      filter: invert(41%) sepia(73%) saturate(2430%) hue-rotate(306deg)
        brightness(101%) contrast(101%);
      transition: $transition-normal;
      &:active {
        filter: invert(100%) sepia(2%) saturate(1296%) hue-rotate(202deg)
          brightness(117%) contrast(88%);
        transition: $transition-normal;
      }
    }
  }

  
  .footer__icon--dev {
    transition: $transition-normal;
  }

  .footer__icon--dev {
    &:hover {
      transform: scale(1.05) rotate(7deg);
    }
  }
}
