.footer {
  background-color: $background-header-footer;
  color: $font-light-muted-color;
  font-family: "Raleway", "Poppins", sans-serif;
  font-size: 1em;

  #text-footer {
    color: $font-light-muted-color;
    &:hover {
      color: $font-light-secondary-color;
      transition: $transition-normal;
    }
  }

  .icon-dev {
    filter: invert(42%) sepia(5%) saturate(5%) hue-rotate(3deg) brightness(96%)
      contrast(85%);
    &:hover {
      filter: invert(96%) sepia(0%) saturate(2301%) hue-rotate(192deg)
        brightness(88%) contrast(95%);
      transition: all 200ms ease;
    }
  }
}
