#header {
  @include font-nav;
  box-shadow: $shadow-bottom;
  background-color: map-get($pallete, bg-header-footer);

  .navbar-brand {
    padding: 0;
  }

  .navbar-nav {
    margin-top: 1rem;

    .nav-link {
      font-size: 1em;
      color: map-get($pallete, primary);
      padding: 0 0.3rem;
      font-style: italic;

      &:hover {
        transform: scale(1.05);
        transition: $transition-normal;
      }
    }

    #link__activo {
      border-radius: 20px;
      background-color: #77ff00;
      color: #000000;
    }
  }
}
