#header {
  @include font-nav;
  box-shadow: $shadow-bottom;
  background-color: map-get($pallete, bg-header-footer);

  .navbar-brand {
    padding: 0;
  }

  .navbar-nav {
    margin-top: 1rem;

    .nav-link {
      font-size: 1em;
      color: map-get($pallete, primary);
      padding: 0 0.3rem;
      font-style: italic;

      &:hover {
        transform: scale(0.95);
        transition: $transition-normal;
      }
    }

    #link__activo {
      color: rgb(160, 160, 160);
      pointer-events: none;
    }
  }
}
