#header {
  box-shadow: $shadow-bottom;
  background-color: $background-header-footer;

  .navbar-brand {
    padding: 0;
  }

  button {
    background-color: $font-light-primary-color;
  }

  .navbar-nav {
    margin-top: 1rem;

    .nav-link {
      font-size: 1em;
      color: $font-light-primary-color;
      padding: 0 0.3rem;

      &:hover {
        transform: scale(1.05);
        transition: $transition-normal;
      }
    }

    #link__activo {
      font-weight: 550;
      border-radius: 20px;
      background-color: #77ff00;
      color: #000000;
    }
  }
}
