.title {
  @include title__h1;
}

.aboutme__text {
  font-size: 1em;
  color: map-get($pallete, primary);
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  margin-top: 1rem;
  padding: 0 3rem;
}

.aboutme__text--italic {
  @extend .aboutme__text;
  font-weight: bold;
  font-style: italic;
}
