body {
  background-color: map-get($pallete, bg-body);

  main .title {
    @include title__h1;
  }

  .wtp__sticky {
    position: fixed;
    bottom: 25px;
    right: 50px;

    &:hover {
      transform: scale(0.9);
      transition: $transition-normal;
    }
  }
}
